@use "sass:map";
@use "@angular/material" as mat;

@mixin personal-color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, "primary");
  $is-dark-theme: map.get($theme, is-dark);
  $exportBackgroundOpacity: if($is-dark-theme, 0.25, 0.25);

  .mat-mdc-card {
    --mdc-elevated-card-container-color: #{mat.get-color-from-palette(
        $primary-palette,
        300,
        $exportBackgroundOpacity
      )};
  }
}

@mixin personal-theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include personal-color($theme);
  }
}
