@use "@angular/material" as mat;

.personal-theme {
  $ng-mat-address-primary: mat.define-palette(mat.$deep-purple-palette);
  $ng-mat-address-accent: mat.define-palette(
    mat.$amber-palette,
    A200,
    A100,
    A400
  );

  // The warn palette is optional (defaults to red).
  $ng-mat-address-warn: mat.define-palette(mat.$red-palette);

  // Create the theme object. A theme consists of configurations for individual
  // theming systems such as "color" or "typography".
  $ng-mat-address-theme: mat.define-light-theme(
    (
      color: (
        primary: $ng-mat-address-primary,
        accent: $ng-mat-address-accent,
        warn: $ng-mat-address-warn,
      ),
      typography:
        mat.define-typography-config(
          $font-family:
            "cursive",
        ),
    )
  );

  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include mat.core-theme($ng-mat-address-theme);
  @include mat.card-theme($ng-mat-address-theme);
  @include mat.form-field-theme($ng-mat-address-theme);
  @include mat.input-theme($ng-mat-address-theme);
  @include mat.select-theme($ng-mat-address-theme);
  @include mat.autocomplete-theme($ng-mat-address-theme);
  @include mat.radio-theme($ng-mat-address-theme);
  @include mat.button-theme($ng-mat-address-theme);
  @include mat.icon-button-theme($ng-mat-address-theme);
  @include mat.icon-theme($ng-mat-address-theme);
  @include mat.menu-theme($ng-mat-address-theme);
}
