@use "@angular/material" as mat;
@use "../styles/components.scss";

.dark-theme {
  // #region dark-theme
  $ng-mat-address-primary: mat.define-palette(mat.$pink-palette);
  $ng-mat-address-accent: mat.define-palette(
    mat.$blue-gray-palette,
    A200,
    A100,
    A400
  );

  // The warn palette is optional (defaults to red).
  $ng-mat-address-warn: mat.define-palette(mat.$red-palette);

  // Create the theme object. A theme consists of configurations for individual
  // theming systems such as "color" or "typography".
  $ng-mat-address-theme: mat.define-dark-theme(
    (
      color: (
        primary: $ng-mat-address-primary,
        accent: $ng-mat-address-accent,
        warn: $ng-mat-address-warn,
      ),
    )
  );

  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include mat.core-color($ng-mat-address-theme);
  @include mat.card-color($ng-mat-address-theme);
  @include mat.form-field-color($ng-mat-address-theme);
  @include mat.input-color($ng-mat-address-theme);
  @include mat.select-color($ng-mat-address-theme);
  @include mat.autocomplete-color($ng-mat-address-theme);
  @include mat.radio-color($ng-mat-address-theme);
  @include mat.button-color($ng-mat-address-theme);
  @include mat.icon-button-color($ng-mat-address-theme);
  @include mat.icon-color($ng-mat-address-theme);
  @include mat.menu-color($ng-mat-address-theme);

  // #endregion

  // #region personal-theme
  .personal-theme {
    $personal-primary: mat.define-palette(mat.$purple-palette);
    $personal-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

    // The warn palette is optional (defaults to red).
    $personal-warn: mat.define-palette(mat.$red-palette);

    // Create the theme object. A theme consists of configurations for individual
    // theming systems such as "color" or "typography".
    $personal-theme: mat.define-dark-theme(
      (
        color: (
          primary: $personal-primary,
          accent: $personal-accent,
          warn: $personal-warn,
        ),
      )
    );

    // Include theme styles for core and each component used in your app.
    // Alternatively, you can import and @include the theme mixins for each component
    // that you are using.
    @include mat.core-color($personal-theme);
    @include mat.card-color($personal-theme);
    @include mat.form-field-color($personal-theme);
    @include mat.input-color($personal-theme);
    @include mat.select-color($personal-theme);
    @include mat.autocomplete-color($personal-theme);
    @include mat.radio-color($personal-theme);
    @include mat.button-color($personal-theme);
    @include mat.icon-button-color($personal-theme);
    @include mat.icon-color($personal-theme);
    @include mat.menu-color($personal-theme);
  }
  // #endregion

  // #region components theme
  @include components.personal-theme($ng-mat-address-theme);
  // #endregion
}
